body {
  margin: 0;
  padding: 0;
}
@mixin setflex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.button {
  text-decoration: none;
  color: #000;
  border: 2px #000 solid;
  padding: 10px;
  border-radius: 20px;
}
.nav {
  @include setflex;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.5s;
  &-wrapper{
    @include setflex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    transition: 0.5s;
  }
  &-menu {
    li {
      display: inline;
      margin-left: 15px;
    }
    list-style-type: none;
    &__link {
      text-decoration: none;
      color: #000;
    }
  }
}
.one {
  @include setflex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #aaa;
}
.two {
  @include setflex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-color: #777;
}
.three {
  @include setflex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  background-color: #111;
  color: #fff;
}


/* for js */
.menu-bg {
  background-color: #fff;
  transition: .5s;
}
.menu-width {
  width: 70%;
  transition: .5s;
}
